<!DOCTYPE html>
<html>
<head>
	
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-BJKEFFQZ7G"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-BJKEFFQZ7G');
</script>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="stylesheet" href="/assets/css/98.css">
	<link rel="stylesheet" href="/assets/css/atom-one-light.css">
    {% if page.title or page.title == 'me' %}
        <title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/assets/css/002.css">
    {% else %}
        <title>{{ site.name }}</title>
		<link rel="stylesheet" type="text/css" href="/assets/css/001.css">
    {% endif %}
	<link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon">
	<script src="/assets/js/highlight.pack.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
	{% if page.url == '/' %}
	<div id="inline-explorer">
		{% include file_explorer.html show_close=false %}
	</div>
	{{ content }}
	{% else %}
	<div class="wrapper">
		<div class="title-bar">
			<div class="title-bar-text">
				<img src="/assets/img/mycomputer.png" style="vertical-align: middle; width: 14px; height: 14px; margin-right: 4px;" />
				{% if page.tag %}{{ page.tag }}{% else %}{{ site.name }}{% endif %}
			</div>
		</div>
		{% include topbar.html %}
		<div class="tag_list">
			<ul id="tag-list">
				<li><a href="/" ><img src="/assets/img/disk.png" />(C:)</a>
			<ul>
				{% assign tags = site.tags | sort %}
				{% for tag in tags %}
				<li><a href="/tag/{{ tag | first | slugify }}/" title="{{ tag[0] | replace:'-', ' ' }}"><img src="/assets/img/folder.ico" />{{ tag[0] | replace:'-', ' ' }}</a></li>
				{% endfor %}
			</ul>
				</li>
			</ul>
		</div>
		<div class="post_list">
			{% unless page.date%}
				{% if page.title == 'me' or page.title == '404...' %}
					<ul>
						{% for post in site.posts %}
						<li><a href="{{  post.url }}" title="{{ post.title }}"><img src="/assets/img/file.ico" title="{{ post.title }}" />{{ post.title }}</a></li>
						{% endfor %}
					</ul>
				{% else %}
					{{ content }}
				{% endif %}
			{% else %}
				<ul>
					{% for post in site.posts %}
					<li><a href="{{  post.url }}" title="{{ post.title }}"><img src="/assets/img/file.ico" title="{{ post.title }}" />{{ post.title }}</a></li>
					{% endfor %}
				</ul>
			{% endunless %}
		</div>
		<div class="post_total">
			{% if page.tag %}
				<div class="left">{{ site.tags[page.tag] | size }} object(s)</div>
			{% elsif page.url == '/' %}
				<div class="left">{{ site.tags | size }} object(s)</div>
			{% else %}
				<div class="left">{{ site.posts | size }} object(s)</div>
			{% endif %}
			<div class="right">&nbsp;</div>
		</div>
	</div>
	{% endif %}
	{% if page.title %}
        <div class="content">
			<div class="title-bar">
				<div class="title-bar-text">
					<img src="/assets/img/file.png" style="vertical-align: middle; width: 14px; height: 14px; margin-right: 4px;" />
					{{ page.title }}
				</div>
				<div class="title-bar-controls">
					<button aria-label="Minimize"></button>
					<button aria-label="Maximize"></button>
					<button aria-label="Close" onclick="location.href='/'"></button>
				</div>
			</div>
			<ul class="topbar">
				<li>{{ page.date | date: '%B %-d, %Y' }}</li>
			</ul>
			<div class="post_content">
        		{{ content }}
				{% if page.title %}
					<hr>
					<p>Theme adapted from <a href="https://h01000110.github.io/20170917/windows-95">h01000110's Windows 95 Jekyll theme</a>.</p>
				{% endif %}
			</div>
		</div>
    {% endif %}
	<div class="taskbar">
		<button class="taskbar-start"><img src="/assets/img/start.png" alt="" />Start</button>
		<div class="taskbar-windows"></div>
		<div class="taskbar-clock"></div>
	</div>
	<script src="/assets/js/wm.js"></script>
	<script src="/assets/js/desktop.js"></script>
	<script src="/assets/js/taskbar.js"></script>
	<script src="/assets/js/001.js"></script>
	<script src="/assets/js/002.js"></script>
</body>
</html>